/* CSS Reset */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*Generics*/

/*Utils*/

/*Header*/

header{
    background-color: grey;
    
}

h1{
    color: #000000;
    display: inline;
    font-size: 60px; 
}

